<script src="../js/jquery-1.8.3.min.js"></script>
<h3>Name your devices here</h3>
<div class="device" data-device-id="1">
	<label> Mac 1 </label><input type="text" name="mac1"/>
	<label>Your Device Name 1 </label><input type="text" name="deviceName1"/> <a href="#" class="newline" style="text-decoration: none;">+</a><br/>
</div>

<button class="save">Save</button>

<script src="../js/additionalItem.js"></script>
<script src="../js/options.js"></script>


